body {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.outline {
    display: grid;
    grid-template-columns: 300px 4fr;
    height: 100vh;
}

.sidebar{
    background-color: #0891b2;
    display: grid;
    grid-template-rows: 100px repeat(6, 35px);
    gap: 15px;
}

.box1, .box2, .box3, 
.box4, .box5, .box6, 
.box7, .box8, .box9,
.box10 {
    display: grid;
    grid-template-columns: 1fr 2.5fr;
    align-items: center;text-overflow: ellipsis;
    overflow: hidden;
}

.icon2, .icon3, .icon4, 
.icon5, .icon6, .icon7, 
.icon8, .icon9, .icon10 {
    padding-left: 35px;
    
}

.icon1{
    padding-left: 25px;
}

.icon_name1, .icon_name2, .icon_name3, 
.icon_name4, .icon_name5, .icon_name6, 
.icon_name7, .icon_name8, .icon_name9, 
.icon_name10 {
    color: white;
    font-weight: bold;
}

.icon_name1{
    font-size: 28px;
}

.botbox{
    padding-top: 80px;
    gap: 15px;
    display: grid;
    grid-template-rows: repeat(3, 35px);
}

.container2{
    display: grid;
    grid-template-rows: 200px 4fr;
}

.header{
    background-color: image;
    display: grid;
    grid-template-rows: 1fr 1fr;
    box-shadow: 1px 10px 5px #acabab;
}

.headertop{
    display: grid;
    grid-template-columns: 2.5fr 1fr;
    
}

.htopleft{
    display: grid; 
    grid-template-columns: 50px 2fr;
    align-items: center;
    margin-left: 40px;
}

.iconbar{
    padding-left: 15px;
}

.searchbar{
    height: 30px;
    border-radius: 30px;
    max-width: 900px;
    background-color: lightgray;
    font-size: 18px;
    padding-left: 15px;
    border: none;
    color: white;
}

.htopright{
    color: rgb(0, 0, 0);
    font-size: x-large;
    font-weight: bolder;
    display: grid;
    grid-template-columns: 50px repeat(2, 1fr);
    align-items: center;
    justify-items: right;
    gap: 25px;
}

.profile{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 15px;
    justify-items: right;
}

.username{
    width: 200px;
}

.headerbottom{
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.hbotleft{
    display: grid;
    grid-template-columns: 80px 1fr;
    align-items: center;
    margin-left: 40px;
}

.greet, .greetingname{
    color: rgb(0, 0, 0);
    font-weight: 900;
}

.greetingname{
    font-size: x-large;
}

.hbotright{
    display: grid;
    align-items: center;
    justify-items: right;
    grid-template-columns: repeat(3, .25fr);
    
}

.newbtn, .uploadbtn, .sharebtn{
    background-color: #155e75;
    width: 120px;
    height: 45px;
    border-radius: 30px;
    color: white;
    font-size: medium;
    border-style: none;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.content{
    padding-left: 25px;
    display: grid;
    grid-template-columns: 3.5fr 1fr;
    background-color: lightgrey;
    padding-bottom: 70px;
}

.content_left_title, .title_announce, .title_trending{
    font-size: 20px;
    font-weight: 700;
    padding-top: 30px;
    padding-bottom: 10px;
}

.content_right{
    margin-left: 25px;
}

.projects{
    display: grid;
    grid-template-columns: repeat(2, minmax(100px, 1fr));
    gap: 30px;
    align-items: center;
}

.card1, .card2,
.card3, .card4,
.card5, .card6 {
    height: 186px;
    background-color: #ffffff;
    border-radius: 15px;
    text-align: left;
    padding: 20px;
    border-left: 6px solid #da881e;
    font-size: 15px;
    overflow: hidden;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}

.ptitle1, .ptitle2, .ptitle3,
.ptitle4, .ptitle5, .ptitle6,
.ptitle7, .ptitle8, .ptitle9,
.ptitle10{
    font-size: x-large;
    font-weight: 800;
}

.pcontent1, .pcontent2, .pcontent3,
.pcontent4, .pcontent5, .pcontent6,
.pcontent7, .pcontent8, .pcontent9,
.content10{
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
}

.picons1{
    width: 200px;
    height: 20px;
    border-style: none;
}

.content_announcement, .content_trending{
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    padding: 30px;
    font-size: 15px;
}

.content_announcement{
    height: 280px;
    width: 280px;
}

.announce_title1, .announce_title2, .announce_title3, 
.trend_tag1, .trend_tag2, 
.trend_tag3, .trend_tag4{
    font-weight:700;
}
.announce_content1, .announce_content2{
    border-bottom: 2px solid rgb(112, 112, 112);
    padding-bottom: 10px;
}

.announce_content1, .announce_content2, .announce_content3{
    text-overflow: ellipsis;
    overflow: hidden;
}

.announce_title2, .announce_title3{
    padding-top: 10px;
}

.trend1, .trend2, .trend3, .trend4{
    display: grid;
    grid-template-columns: 50px 150px;
    padding-bottom: 20px;
}

.trend1, .trend2, .trend3{
    padding-bottom: 20px;
}

.title_trending{
    padding-top: 20px;
}

